<%-include("./partials/header")%>
<div class="container" style="text-align: center;margin-top: 6rem;">
    <h1>
        Hi!! 
    </h1>
    <p>
        My Name is Abhinandan Chugh. I am student at Thapar University pursing B.tech in Computer engineering.<br> This is my first Web dev project.I will constantly adding some new cool features.
    </p>
</div>
<%-include("./partials/footer")%>